body {
  background-image: url(./Triangles.jpg);
  background-size: cover;
}

.fixed-bottom {
  padding: 1%;
  text-align: right;
  color: black;
  background-color: white;
}

.jumbotron {
  background-image: url(./JumboT.jpg);
  margin: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 25vw;
  /* opacity: 90%; */
}

.prow {
  background-color: white;
  opacity: 85%;
  margin: 2%;
  padding: 2%;
  height: 30vw;
}

.projectImg {
  margin-bottom: 2vw;
  height: 25vw;
  width: 35vw;
}
