body {
  background-image: url(./Triangles.jpg);
  background-size: cover;
}

.fixed-bottom {
  padding: 1%;
  text-align: right;
  color: black;
  background-color: white;
}

.jumbotron {
  background-image: url(./JumboT.jpg);
  margin: 2vw;
  background-size: cover;
  height: 35vw;
}
